<h1>Your cart</h1>
<br>
<p>Your order:</p>

<table class="table table-bordered table-striped">
    <tr>
      <th>Product</th>
      <th>Size</th>
      <th>Price</th>
      <th>Number of items</th>
    </tr>
  <% @total_price = 0 %>
  <% @total_qty = 0 %>
  <% @items.each do |x| %>
     <tr>
       <th><%= x[0].title %> Pizza</th>
       <td><%= x[0].size %></td>
       <td><%= x[0].price %></td>
       <td><%= x[1] %></td>
     </tr>
     <% @total_price += (x[0].price.to_f * x[1].to_f) %>
      <% @total_qty += x[1].to_i %>
  <% end %>
  <tr>
    <td colspan="2"><b>Total: <%= @items.size %></b></td>
    <th><%= @total_price %> UAH</th>
    <th><%= @total_qty %></th>
  </tr>
</table>

<br>

<form action="/order" method="POST" role="form">
  <div class="form-group">
    <label>Your Name</label>
    <input name="order[name]" type="text" class="form-control" placeholder="Enter your name" value=""></div>

  <div class="form-group">
    <label>Phone</label>
    <input name="order[phone]" type="text" class="form-control" placeholder="Enter your phone" value=""></div>

  <div class="form-group">
  <label>Addrss</label>
  <input name="order[address]" type="text" class="form-control" placeholder="Delivery address" value=""></div>

  <input type="submit" value="Confirm Your Order" class="btn btn-success">
</form>
